*
{
    background-color: #fed4f8;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    color: #570468;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #49063d;
    align-content: center;
    text-align: center;
    margin: auto;
}

hr
{
    border: 3px solid;
    border-color: #570468;
}

/* Cheatspace.. shhhh */
.bigspace {
  padding: 45px 45px;
}

/* Navigation bar */
.navbar {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    column-gap: 2px;
    margin: top;
    top: 0;
    right: 0;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 9px 15px;
    background-color: #570468;
    position: fixed;
    width: 100%;
    text-align-last: right;
  }

  .navlogo {
    height: 53;
    width: 75;
    display: grid;
    margin-left: 80px;
    background-color: #570468;
    align-self: left;
  }
   
  .navbar a{
    background-color: #570468;
    color: #fed4f8;
    -webkit-text-stroke-color: #f4a9e0;
    align-content: right;
    text-decoration: none;
    margin-right: 15px;
    border-radius: 5px;
  }
  
  .navbar a:hover {
    color: #f4a9e0;
    -webkit-text-stroke-color: #dd91d4;
  }

  .navbar a.active {
    color: #ff47e3;
    -webkit-text-stroke-color: #d230c7;
  }