.row{
    align-content: center;
    padding: 45px 45px;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr;
    column-gap: 10px;
}

.text{
    text-align: left;
}

.image{
    align-content: left;
}