.row{
    align-content: center;
    padding: 15px;
    display: grid;
    grid-template-columns: 5fr 5fr;
    column-gap: 35px;
    
}

.trow{
    align-content: center;
    padding: 5px;
    display: grid;
    grid-template-columns: 5fr 5fr;
    column-gap: 35px;
}

img
{
    border: 5px solid;
    border-color: #570468;
}

hr
{
    border: 3px solid;
    border-color: #570468;
}

/* Useless code */

/*.text{
    text-align: left;
}

.image{
    align-content: left;
}*/